body {
    font-family: Arial;
    padding: 20px;
}

.calc-box {
    width: 300px;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.btns button {
    margin: 5px;
    padding: 8px 15px;
}

#error {
    color: red;
    font-size: 14px;
}
